@font-face {
    font-family: 'playfair_display';
    src: url('../fonts/playfairdisplaysc-bold-webfont.woff2') format('woff2'), url('fonts/playfairdisplay-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_display';
    src: url('../fonts/playfairdisplaysc-bolditalic-webfont.woff2') format('woff2'), url('fonts/playfairdisplay-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'playfair_display';
    src: url('../fonts/playfairdisplaysc-italic-webfont.woff2') format('woff2'), url('fonts/playfairdisplay-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'playfair_display';
    src: url('../fonts/playfairdisplaysc-regular-webfont.woff2') format('woff2'), url('fonts/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*raleway*/

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'), url('fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-lightitalic-webfont.woff2') format('woff2'), url('fonts/raleway-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-medium-webfont.woff2') format('woff2'), url('fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-mediumitalic-webfont.woff2') format('woff2'), url('fonts/raleway-mediumitalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}


/*-----------------------------------------------------------------Global Styles*/
.screen-reader-text:focus {
   clip: auto !important;
   display: block;
   height: 50px;
   left: 5px;
   top: 5px;
   width: auto;
   z-index: 100000; /* above all content */

}

.screen-reader-text {
   clip: rect(1px, 1px, 1px, 1px);
   position: absolute !important;
   height: 1px;
   width: 1px;
   overflow: hidden;
   background-color: lightgrey;
   color: #e2574c;
   text-decoration: none;
}

#main[tabindex="-1"]:focus {
   outline: 0;
}
.container {
    margin: 0 auto;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

html {
    font-size: 14px;
}

body {
    color: #2d2d2d;
    margin: 0;
}


/*-----------------------------------------------------------------Navigation Bar*/

.logo {
    width: 115px;
    align-self: flex-start;
    flex: 0 1 0;
}

.cart {
    width: 50px;
    display: flex;
    flex: 0 1 0;
    align-self: flex-end;
    text-align: right;
}

div.total {
    display: none;
}

.total {
    font-family: 'raleway';
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    background: #e2574c;
    color: white;
    height: 23px;
    width: 23px;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align-last: center;
    padding-top: 3px;
}

.border {
    border-top: 1px rgba(0, 0, 0, 0.1) solid;
    margin: 0 auto;
    width: 96%;
}

.nav {
    transition: 2s;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    z-index: 500;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
}

.navbar {
    height: 107px;
    padding-bottom: 5px;
    display: flex;
    position: fixed;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FFFFFF;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
}

.navlink_names{
  text-transform: uppercase;
}

.navitems {
    height: 50px;
    margin: 10px;
    transition: .5s;
}

.navlink_pages {
    align-self: center;
    flex: 1 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 10.5px 0;
    border-bottom: 1px solid #d7d7d7;
}

.navlink {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 80px 60px 0;
    font-weight: bold;
}

.navlink_pages a {
    margin: 0px 10px;
    font-family: 'raleway',sans-serif;
    font-size: .999rem;
    color: #e2574c;
}

.navlink_pages a:link {
    text-decoration: none;
}


/*----------------------------------------------------------------Hero Background Section*/

.collection {
    font-size: 1.3rem;
    font-family: 'raleway',sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.spring {
    margin-top: 1rem;
    font-size: 2.5rem;
    font-family: 'playfair_display',serif;
    color: white
}

li {
    display: inline-block;
    /*margin: 0 auto 0 auto;*/
    text-align: center;
}

.hero {
    height: 400px;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("../images/banner-girl.png")no-repeat center 50px, url("../images/flower-bkgd.jpg")repeat-x center;
    background-size: cover, contain, cover;
}

.hero-title {
    width: 75%;
    padding: 0 15% 0 15%;
    color: white;
    position: relative;
    top: 150px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}


/*----------------------------------------------------------------Category Section*/

.category {
    font-family: 'raleway web', sans-serif;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    font-size: 20px;
    color: white;
}

.mens {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/mens-category.jpg') no-repeat center center;
    background-size: cover, cover;
    padding: 25% 0;
    width: 100%;
    border-bottom: 4px solid white;
}

.trends {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/trends-category.jpg') no-repeat center center;
    background-size: cover, cover;
    width: 50%;
    padding: 25% 0;
    box-sizing: border-box;
    border: 4px solid white;
    border-left: 0;
}

.glasses {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/glasses-category.jpg') no-repeat center center;
    background-size: cover;
    width: 50%;
    padding: 25% 0;
    box-sizing: border-box;
    border: 4px solid white;
    border-right: 0;
}

.sale {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/sale-category.jpg') no-repeat center center;
    height: 200px;
    width: 50%;
    background-size: cover;
    padding: 25% 0;
    box-sizing: border-box;
    border: 4px solid white;
    border-left: 0;
}

.bags {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/bags-category.jpg') no-repeat center center;
    background-size: cover;
    height: 200px;
    width: 50%;
    padding: 25% 0;
    box-sizing: border-box;
    border: 4px solid white;
    border-right: 0;
}

.womens {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/womens-category.jpg') no-repeat center center;
    height: 200px;
    width: 100%;
    background-size: cover;
    padding: 25% 0;
    box-sizing: border-box;
    border-top: 4px solid white;
}


/*------------------------------------------Hand-Crafted Section || style = Hand Crafted*/

.hc {
    border-style: none none solid none;
    overflow: hidden;
}

.hc_style {
    height: 150px;
}

.hc_hand {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 5px;
    font-family: 'playfair_display',serif;
    font-family: normal;
}

.hc_aloha {
    font-size: 1.14rem;
    text-align: center;
    line-height: 200%;
    font-weight: normal;
    font-family: 'playfair_display',serif;
    margin: 0 auto;
    font-family: 'raleway';
    max-width: 600px;
    width: 100%;
}


/*------------------------------Most-Loved Products Section || mlp = Most Loved Products*/

.products {
    text-align: center;
    font-family: 'playfair_display', serif;
    position: relative;
    align-content: center;
    margin-bottom: 50px;
}

.products li {
    margin: auto;
    padding: 0px;
}

.products p {
    color: grey;
    padding: 8px 8px;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'playfair_display', serif;
    margin: 50px 0 50px 0;
    width: 100%;
}

.itm_category {
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8rem;
    padding: 0px;
}

.itm_price {
    font-weight: bold;
}

.itm_name {
    color: #e2574c;
    font-size: 1.8rem;
    font-family: 'playfair_display', serif;
}

.cart_button {
    margin-top: 10px;
    color: white;
    background: rgb(50, 50, 50);
    background-color: #242424;
    border: 0;
    border-radius: 100px;
    cursor: pointer;
    line-height: 1.5;
}


/*------------------------------Sign up Section || */

.updates {
    background-image: url('../images/wave-bkgd.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: 8px;
    height: 325px;
    color: white;
    padding-top: 20px;
    text-align: center;
}

.updates_container {
    margin: 40px auto;
    max-width: 600px;
    width: 100%;
}

.sign {
    text-align: center;
    font-size: 3rem;
    font-family: 'playfair_display',serif;
    text-shadow: 4px 4px 15px rgba(0, 0, 0, .5);
}

.stay {
    font-family: 'raleway';
    font-size: 1.3rem;
    text-align: center;
    line-height: 100%;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
    line-height: 1.4  rem;
    padding-bottom: 10px;
}

.subscribe {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.inputEmail {
    transition: .4s;
    width: 60%;
    height: 30px;
    position: relative;
    left: 18%;
    padding: 10.5px;
    border-style: none;
    border-color: white;
    border-radius: 30px;
    font-family: 'raleway',sans-serif;
    font-size: 1rem;
    text-indent: 5%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.inputEmail:focus {
    transition: .5s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    outline-width: 0;
    transform: scale(1.02);
}

.subscribe_button {
    transition: .3s;
    cursor: pointer;
    min-width: 20%;
    color: white;
    background-color: #e2574c;
    height: 40px;
    margin: 5.5px 0 5.5px 0;
    border: solid 10px #e2574c;
    border-radius: 30px;
    position: relative;
    right: 20%;
    font-family: 'raleway', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.subscribe_button:hover {
    transition: 0.5s;
    border-color: #b64036;
    transform: scale(.95);
    outline-width: 0;
}


/*-------------------------------------------------------Footer Section || Social Media*/

h3 {
    color: #e2574c;
    font: 'playfair_display', serif;
}

a:hover {
    color: #e2574c;
}

h2 {
    text-align: center;
}

footer {
    overflow: hidden;
    background: #242424;
    color: white;
    height: 263px;
}

.foot_container {
    text-align: center;
    margin-top: 60px;
}

.foot_container p {
    text-align: center;
    font-family: 'playfair_display', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: white;
}


footer {
    overflow: hidden;
    background: #242424;
    color: white;
    height: 263px;
}

.address {
    color: #969696;
}

.email {
    color: white;
    transition: .3s;
}

.email:hover {
    transition: .3s;
    color: #b64036;
}

.social_media {
    transition: .2s;
    text-align: center;
}

.social {
    color: white;
    min-width: 30px;
    float: right;
}

.social_media a:link {
    text-decoration: none;
}

.social_media :hover {
    transition: .2s;
    color: #b64036;
}

.social_media ul {
    overflow: hidden;
    margin: 40px auto 0 auto;
}

.social_media li {
    font-size: 1rem;
}


/*-----------Below are text for the Logos --> its display in when it reaches 600px and more*/

.sm_text {
    display: none;
    font-family: 'raleway', sans-serif;
    color: white;
}


/*--------max container is used to set width on certain elements----------*/

.max_container {
    max-width: 700px;
    margin: 0 auto;
}


/*--------------------------------------------------------------------------Breakpoints*/

@media screen and (min-width: 600px) {
    .navbar {
        border-top: 0px;
    }

    .border{
      border-top: 0px rgba(0, 0, 0, 0.1) solid;
    }

    html {
        font-size: 16px;
    }
    .container {
        width: auto;
    }

    .products li {
        width: 50%;
        display: block;
    }
    .mens {
        flex: 2 0 50%;
        padding: 11% 0;
        border-left: 0px;
        border: 4px solid white;
        box-sizing: border-box;
        border-left: 0;
    }
    .trends {
        flex: 1 0 25%;
        border: 4px solid white;
        padding: 11% 0;
        border: 4px solid white;
    }
    .glasses {
        flex: 1 0 25%;
        padding: 11% 0;
        border: 4px solid white;
        border-right: 0;
    }
    .sale {
        flex-basis: 25%;
        border: 4px solid white;
        padding: 11% 0;
        border-left: 0;
    }
    .bags {
        flex: 1 0 25%;
        /*flex-basis: 25%*/
        border: 4px solid white;
        padding: 11% 0;
    }
    .womens {
        flex: 2 0 50%;
        border: 4px solid white;
        padding: 11% 0;
        border-right: 0;
    }

    .itm_name {
        font-size: 1.5rem;
    }
    .contact_us {
        text-align: center;
        float:left;
        margin: 0 auto 0 2rem;
    }
    .social_media {
        display: flex;
        justify-content: flex-start;
        margin: 0 2rem 0 0;
    }
    .social_media li {
        display: block;
        margin: 0 0 1rem 0;
    }
    .social_media ul {
        text-align: left;
        margin: 0 1rem 0 auto;
    }
    .sm_text {
        display: inline;
    }
    .foot_container p {
        text-align: left;
      }
    /*--------max container is used to set width on certain elements----------*/
    .max_container {
        max-width: 700px;
        margin: 0 auto;
    }
  }
    /*--------------------------------------------------------------------------Breakpoints*/
    /*--------max container is used to set width on certain elements----------*/
    @media all and (min-width: 1240px) {
        .border {
            border-top: 0px;
            width: 100%;
        }
        .navlink_pages {
            border: 0px;
            padding: 0px;
            flex: 1 0 auto;
            width: 100%;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 0;

      }
        .hero {
            background-size: auto, auto 530px, auto 450px;
            background-position: center, center 50px, center;
        }
        .products li{
          width: 25%;
        }
        .container {
            max-width: 1240px;
            width: 100%;
        }
        .mens {
            border-left: 0;
        }
        .itm_img {
            width: 100%;
        }
        .itm_name {
            width: 100%;
            margin: 0 auto;
        }
        .updates {
            background-size: 100% auto;
        }
        .foot_container p {
            text-align: left;
          }
}
